<%= form_for(@post) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :content, "Your Tweet" %>
  </p>
  <p>
    <% if @post.post_id %>
    <% # TODO: remove this logic from the view %>
    <% # TODO: also display the content of the previous post %>   
    <%= f.text_field :content, :value => "@#{Post.find(@post.post_id).user.screen_name}" %>
    <% else %>
    <%= f.text_field :content %>
    <% end %>
  </p>
  <p>
    <%= f.label :secret, "Your Secret" %>
  </p>
  <p>
    <%= f.text_field :secret %>
  </p>
  <p>
    <%= f.hidden_field :post_id %>
  </p>
  <%= f.submit %>
<% end %>