<%= form_for(@post) do |f| %>

  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :secret %>
    <%= f.text_field :secret %>
  </p>
  <%= f.submit %>
<% end %>