<h2>Content: <%= @post.content %></h2>

<h3>Secret: <%= @post.secret %></h3>

<p>Posted by <%= @post.user.name %>
<p><%= @post.inspect %></p>
<p><%= @post.user.inspect %></p>

<%= link_to "Reply to this post", new_reply_path(@post) %>